@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Navigations
@inject NavigationManager navigationMgr
<SfAppBar style=" background-image: linear-gradient(to right, #947FFF, #20B2AA);">

    <table>
        <tr>
            <td>
                <h3><b>MP</b></h3>
            </td>
            <td><h4>Shopping Cart</h4></td>
        </tr>
    </table>

    <i style="color:#F875B3; margin-left:-0.4rem;"></i>
</SfAppBar>
<style>

    #btnSearch {
        border-radius: 50px;
        width: 30px;
        height: 30px;
    }
</style>

@code {
  

}